GroupRepresentationsForCAP/examples/doc/D8*.g
tmp/
gh-pages
*swp
DISCUSS
*~
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
bin
change.log
VERSION
public_html
public_html.version
*/doc/manual.six
*/doc/*.pdf
*/doc/*.html
*/doc/*.txt
*/doc/*.css
*/doc/*.js
*/doc/*Bib.xml
*/doc/*Bib.xml.bib
*/doc/*.aux
*/doc/*.bbl
*/doc/*.blg
*/doc/*.brf
*/doc/*.idx
*/doc/*.ilg
*/doc/*.ind
*/doc/*.log
*/doc/*.pnr
*/doc/*.tex
*/doc/*.toc
*/doc/*.out
*/doc/manual.lab

*/examples/glp_over_g_exterior_algebra/Demo/manual.six
*/examples/glp_over_g_exterior_algebra/Demo/*.pdf
*/examples/glp_over_g_exterior_algebra/Demo/*.html
*/examples/glp_over_g_exterior_algebra/Demo/*.txt
*/examples/glp_over_g_exterior_algebra/Demo/*.css
*/examples/glp_over_g_exterior_algebra/Demo/*.js
*/examples/glp_over_g_exterior_algebra/Demo/*Bib.xml
*/examples/glp_over_g_exterior_algebra/Demo/*Bib.xml.bib
*/examples/glp_over_g_exterior_algebra/Demo/*.aux
*/examples/glp_over_g_exterior_algebra/Demo/*.bbl
*/examples/glp_over_g_exterior_algebra/Demo/*.blg
*/examples/glp_over_g_exterior_algebra/Demo/*.brf
*/examples/glp_over_g_exterior_algebra/Demo/*.idx
*/examples/glp_over_g_exterior_algebra/Demo/*.ilg
*/examples/glp_over_g_exterior_algebra/Demo/*.ind
*/examples/glp_over_g_exterior_algebra/Demo/*.log
*/examples/glp_over_g_exterior_algebra/Demo/*.pnr
*/examples/glp_over_g_exterior_algebra/Demo/*.tex
*/examples/glp_over_g_exterior_algebra/Demo/*.toc
*/examples/glp_over_g_exterior_algebra/Demo/*.out
*/examples/glp_over_g_exterior_algebra/Demo/manual.lab
*

*.DS_Store
doc/*.xml
*/doc/*.xml
maketest.g
parsertest.g
judgement_test
